h1, h2, h3, h4, h5, h6, {font-family: 'Hedvig Letters Serif', serif;
                        color: #161B22;}
p, ul, li {font-family: "Afacad", "Helvetica", Arial, sans-serif;}
a {font-family: inherit;
  color: #551A8B;}
.divspace {padding: 0% 2%;
    margin-bottom: 1%;}
body {background-color: #f1f1f1;}
#bio {text-align: center;
     margin-top: 2%;}
#headshot {width: 100%;
          text-align: center;}
.tof_wide {
  height: 400px;
  border-radius: 100%;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
}

nav > li > a {
    border-right: 1px solid #000000;
}

nav > li:last-child > a {
    border-right: 0;
}
