h1 {font-family: Hedvig Letters Serif, serif;
                        color: #161B22;}
h2 {font-family: Hedvig Letters Serif, serif;
                        color: #161B22;}
h3 {font-family: Hedvig Letters Serif, serif;
                        color: #161B22;}
h4 {font-family: Hedvig Letters Serif, serif;
                        color: #161B22;}
p,  {font-family: "Afacad", "Helvetica", Arial, sans-serif;
            font-size: 1em;}
ul, li {font-family: "Afacad", "Helvetica", Arial, sans-serif;
            font-size: 1em;}
a {font-family: "Afacad", "Helvetica", Arial, sans-serif;
  color: #ff5349;}

.divspace {padding: 1% 20%;
    margin-bottom: 1%;}

body {background-color: #f1f1f1;}

#bio {text-align: center;
     margin-top: 2%;}

#bio i {color: #C70039;
        padding: 2%;
       }

#bio p {padding: 0% 10%;
       font-family: "Afacad", "Helvetica", Arial, sans-serif;
            font-size: 1.15em;}

#headshot {width: 100%;
          text-align: center;}

.tof_wide {
  height: 300px;
  border-radius: 100%;
}

nav ul {
  list-style-type: none;
  font-size: 1em;
}

nav ul li {
  display: inline;
}

nav li a {
    border-right: 1px solid #C70039;
  padding: 0% 2%;
  font-family: Hedvig Letters Serif, serif;
}

nav li:last-child a {
    border-right: 0;
}

#News ul {
  padding-bottom: 2%;
  border-bottom: 1px solid black;
}

#Selected_Publications ul{
  padding-bottom: 2%;
  border-bottom: 1px solid black;
}

#Select_Media_Features ul{
  padding-bottom: 2%;
  border-bottom: 1px solid black;
}

#talks ul{
  padding-bottom: 2%;
  border-bottom: 1px solid black;
}

tofpad {
  padding: 2%;
}

footer p, a {
  font-family: Hedvig Letters Serif, serif;
  text-align: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  p,ul,li {font-size: 32px;}
  a {font-size: inherit;
    font-family: inherit;}
  h2 {font-size: 40px}
  h3 {font-size: 32px}
  #bio p, li {font-size: 32px;}
  .divspace {padding: 1% 10%;
    margin-bottom: 1%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-device-width: 601px) (max-device-width: 768px) {
   p,ul,li {font-size: 32px;}
  a {font-size: inherit;
    font-family: inherit;}
  h2 {font-size: 40px}
  h3 {font-size: 32px}
  #bio p {font-size: 32px;}
  .divspace {padding: 1% 10%;
    margin-bottom: 1%;}
}
